body {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  line-height: 1.25;
  padding: 15px;
}

h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: orange;
  padding: 110px;
  margin-top: -340px;
}

h2 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: orange;
  padding: 110px;
  margin-top: -215px;
}

h3 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: orange;
  padding: 110px;
  margin-top: -215px;
}

li {
  font-size: medium;
}

p {
  font-size: medium;
  color: white;
  padding: -110px;
  margin-top: -225px;
}

#tagline p {
  font-style: italic;
  font-family: Georgia, Times, serif;
  padding:100px;
  margin-left:10px;
  margin-right:100px;
  margin-top:-210px;
}

a:link, a:visited {
  color: white;
  font-weight: bold;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}

a:active {
  color: orange;
  background-color: black;
}

.nav {
	list-style-type:none;
	border:solid white 1px;
	padding-left:0px;
	padding-right:0px;
	width:100px;
}

.nav a {
	text-decoration:none;
	color:orange;
	display:block;
}

.nav a:hover {
	background-color:black;
}

.nav li:hover {
	position:relative;
	background-color:black;
}

ul.submenu {
	display:none;
	list-style-type:none;
	padding-left:0px;
	padding-right:0px;
	z-index:1;
}

li:hover .submenu {
	display:block;
	border:solid white 1px;
	background-color:black;
	position: absolute;
	left:50px;
	top:0px;
	width:150px;
	padding-right:-100px;
	padding-bottom: -300px;
}
